body{
background-color: rgb(41, 211, 211);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 11rem;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem 5rem;
    box-shadow: 5px 5px 20px;
}

.black {
    height: 2rem;
    width: -webkit-fill-available;
    background-color: black;
}
.twoCol {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.col1{
    flex-grow: 2;
    padding: 6px;
}

.col1 input{
    width: -webkit-fill-available;
}


h1, h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif ;
}

p {
    font-family: 'Roboto', sans-serif ;
}

input {
    height: 55px;
    line-height: 1.2;
    padding: 0 25px;
    background-color: gainsboro;
    font-size: 1rem;
    border-color: transparent;
    border-radius: .5rem;

}

button {
    background-color: rgb(255, 180, 41);
    border-color: transparent;
    border-radius: .5rem;
    height: 3rem;
    margin: 2rem 6.5em;
    font-size: 23px;
    color: white;

}
